html {
	height: 100%;
}

body {
	height: 99%;
	margin: 0;
}

.container {
	height: 100%;
	display: flex;
}

#editor,
#diagram {
	height: 100%;
}

#editor {
	width: 30%;
	min-width: 400px;
	border-right: 1px solid black;
}

#diagram {
	width: 70%;
}

#overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 70%;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 80, 100, .3);
}

#overlay > p {
	font-family: sans-serif;
	font-size: 40px;
	text-shadow: 0 0 20px rgba(0, 0, 0, .7);
	user-select: none;
}

#overlay:not([hidden]) ~ #diagram {
	filter: blur(5px);
	transition: filter 1s;
}

[hidden] {
	display: none !important;
}
